@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

*{
    font-family: pretendard;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 48px;
}

.login-status {
    margin-left: auto;
}

.body{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.main-notify{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
}

.main-notify-header button{

}

.user-information-box-list{
    flex:5;
    flex-wrap: wrap;        
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
}

.user-information-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-information-box-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.signup-container{
    display: flex;
    width: 40%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
}

.signup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.signup-form input{
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.notify-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 16px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
}

.notify-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-notify-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-notify-peoples {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.my-notify-peoples img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.notify-peoples {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.notify-peoples img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}


.nofity-application-button {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hidden-content {
    display: none;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    gap: 20px;
}

.hidden-content.show {
    display: block;
}

.profile-content-toggle {
    width: 100%;
    height: 100%;
}

.profile-content-toggle button {
    padding: 10px 20px;
    width: 100%;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hidden-content h3{
    border-bottom: 1px solid #e9e9e9;
}

.profile-content-toggle button:hover {
    background-color: #e9e9e9;
}

.profile-content-toggle button.active {
    background-color: #ffffff;
}

.profile-content-toggle button.active:hover {
    background-color: #e9e9e9;
}

.profile-wiki-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.profile-wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
    gap: 20px;
}

.profile-wiki img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.profile-wiki-content{
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    box-shadow: rgba(0, 2, 0, 0.1) 0px 4px 12px;
}

.profile-wiki-content-toggle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-wiki-content-toggle button{
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}