<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>로그인</title>
</head>
<body>
    <div class="signin-container">
        <h1>로그인</h1>
        <form class="signin-form">
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
            <p>아직 회원이 아니신가요? <a href="SignIn.html">회원가입</a></p>
            <button type="submit">로그인</button>
        </form>
        
    </div>
</body>
</html>