<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/notify.css">
    <title>모임 공고 상세</title>
</head>
<body>
    <div class="notify-container">
        <div class="notify-title">
            <h1>내 모임공고</h1>
        </div>
        
        <div class="my-notify-title">
            <h2>모임 공고 제목</h2>
            <p>모임 제목입니다.</p>
        </div>

        <div class="my-notify-info">
            <h2>모임 공고 내용</h2>
            <p>모임 내용입니다.</p>
        </div>

        <div class="my-notify-peoples">
            <h2>참여 신청자</h2>
            <div class="user-information-box">
                <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt="" class="user-information-box-img">
                <p>홍길동</p>
                <div class="my-notify-peoples-button">
                    <button type="button">승인</button>
                    <button type="button">거절</button>  
                </div>               
            </div>
            
        </div>
    </div>
</body>
</html>