<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notify.css">
    <title>모임 공고 상세</title>
</head>
<body>
    <div class="notify-container">
        <div class="notify-title">
            <h1>모임 공고 제목</h1>
        </div>
        <div class="notify-peoples">
            <h2>현재 참여인원</h2>
            <div class="user-information-box">
                <img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt="" class="user-information-box-img">
                <p>홍길동</p>
            </div>
        </div>
        <div class="notify-info">
            <h2>모임 공고 내용</h2>
            <p>모임 내용</p>
        </div>

        <div class="nofity-application-button">
            <button type="button">참여 신청</button>
        </div>    
    </div>
</body>
</html>