@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

*{
    font-family: pretendard;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.notify-container {
    color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid #04D182;
    box-shadow: rgba(0, 192, 2, 0.3) 0px 4px 12px;
}

input{
    background-color: #6d6d6d;
    border: 1px solid #ccc;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.notify-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-notify-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-notify-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-notify-info textarea{
    padding: 10px;
    border-radius: 5px;
    background-color: #6d6d6d;
    border: 1px solid #ccc;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.my-notify-peoples {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.my-notify-peoples img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.notify-peoples {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.notify-peoples img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}


.nofity-application-button {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}